* {
    box-sizing: border-box;
    background-color: rgb(240, 202, 253);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use full viewport height */
    width: 100vw; /* Use full viewport width */
}
.calc-body {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden; /* Prevent content from overflowing */
    min-width: 500px; /* Make the calculator larger */
    min-height: 600px; /* Default larger height */
    background-color: rgb(231, 186, 245);
}
.calc-display {
    width: 100%;
    height: auto;
    border: 2px solid black;
    padding: 10px;
    font-size: 3rem;
    flex: 1;
    margin: -1px 0 -1px 0;
    align-content: center;

    background-color: rgb(231, 186, 245);
}
.calc-buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid black;
}

.flexRow {
    display: flex;
    justify-content: space-between;
    flex: 1;
    border-top: 1px solid black;
}

.flex-btn {
    flex: 1;
    margin: 5px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10%;
    cursor: pointer;
    background-color: rgb(227, 136, 255);
    text-align: center;
}

.operator {
    background-color: rgb(211, 68, 255);
}

.equals {
    background-color: rgb(253, 76, 253);
}

.clear {
    background-color: rgb(253, 76, 135);
}